// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$lightGray: #F0F0F0;

$red3:      #F4C3C4;
$red2:      #993A3C;
$red1:      #7A1518;
$red0:      #C47476;

$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $red2;
$headingColor: $red1;
$headingTextShadow: none;
$backgroundColor: $lightGray;
$linkColor: $red0;
$linkColorHover: lighten( $red3, 20% );
$selectionBackgroundColor: $magenta;



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
